* {
  margin: 0% 0%;
  padding: 0% 0%;
}

html {
  font-size: 10px;
}

body {
  background-image: linear-gradient(to top, #ff005b, #f50079, #da009d, #a600c5, #1412eb);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 500;
}

header .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
nav .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu li {
  list-style-type: none;
  display: inline-block;
}

nav .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition-duration: 0.4s;
}

nav .menu li a:hover {
  color: red;
}

.menu-btn {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 23px;
}

h2 {
  font-size: 5rem;
}

/* nav bar end */

#profile {
  background-image: url("resources/science-technology.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 40rem;
  height: auto;
  margin: 5%;
  border-radius: 2%;
}

.message {
  font-size: 5rem;
  margin: 5%;
  text-align: center;
}

#about p {
  padding: 10% 5%;
  font-size: 2rem;
}

#stack {
  /* background-image: url("resources/technology-sense.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.stack-icon {
  height: auto;
}

.technologies {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 10px 20px;
  justify-items: center;
  align-content: center;
}

.technologies img {
  height: 100px;
  width: auto;
}

footer {
  height: 240px;
  /* position: relative; */
  background-color: #333333;
  text-align: center;
  line-height: 15px;
  color: #fff;
  display: block;
}

footer p {
  font-size: 4.5rem;
  font-weight: 800;
  padding: 4rem 0rem 0rem 0rem;
}

footer h5 {
  font-size: 2rem;
  font-weight: 100;
  padding: 1.5rem;
  color: #808080;
}

footer h1 {
  width: 50%;
  margin: 0% auto;
  border: 0.5px solid #808080;
}

footer .footer-icons{
  padding: 2rem;
}

footer .footer-icons a{
  padding: 0% 0%;
  margin: 0% 0%;
  float: none;
}

footer .footer-icons img{
  width: 3rem;
  padding: 1rem;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


/* Contact Page */
.contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-image img {
  width: 40rem;
}

.contact-icons a {
  float: none;
  padding: 0rem 0rem;
}

.contact-icons img {
  width: 3rem;
  padding: 1rem 1.5rem;
  transition-duration: 0.2s;
}

.contact-icons img:hover {
  width: 3.5rem;
  /* background-color: blue; */
  /* border-radius: 50%; */
  /* padding: 0rem 0rem;
  margin: 1rem 1.5rem; */
}

.contact-text p {
  font-size: 2rem;
}

.contact-aboutme {
  padding: 0rem 2rem;
  max-width: 500px;
}

.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.address-text h3{
  font-size: 3rem;
}

.address-text p{
  font-size: 1.8rem;
}

.address img {
  width: 25rem;
}

.btn {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
  transition-duration: 0.4s;
  padding: 1rem;
  font-family: "Google Sans Regular";
}

.btn:hover {
  background-color: #000;
  color: white;
}




/* Education Page */
.education {
  top: 6rem;
  margin-bottom: 4rem;
  position: relative;
  display: column;
  justify-content: space-around;
  align-items: center;
}

.edu {
  background-color: #000;
  width: 30rem;
  margin: 1rem;
}

.education-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

.education img {
  width: 30rem;
}

.education h3{
  padding: 1.5rem;
  font-size: 3rem;
}

.education p{
  padding: 1rem;
  font-size: 1.8rem;
}



/* Responsive Media Query */

@media only screen and (max-width: 750px) {

   .max-width {
     padding: 0px 50px;
   }

   .menu-btn {
    display: block;
    z-index: 900;
  }

   nav .menu {
    position: fixed;
    background: #808080;
    text-align: center;
    height: 50vh;
    width: 100%;
    padding-top: 50px;
    left: 0;
    top: -100%;
    transition: all 0.3s ease;
   }

   nav .menu.active {
     top: 0;
   }

   nav .menu li {
     display: block;
   } 

   nav .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  } 

  #profile {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .photo img {
    width: 30rem;
    height: auto;
    margin: 5%;
  }

  .message p {
    font-size: 4rem;
  }

  .stack-icon {
    display: none;
  }
 
  
  .education-container {
    flex-direction: column;
    align-items: center;
  }

  .edu {
    width: 80%;
  }

  .education h3 {
    padding: 1rem 0;
    font-size: 2.5rem;
  }
  .education p {
    padding: 1rem 0;
    font-size: 2rem;
  }

}

@media only screen and (max-width: 400px) {
  
  nav .max-width {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 4px 15px;
}

  .technologies {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 0;
  justify-items:center;
  align-content: space-between;
}

#profile {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 20rem;
  padding-top: 3rem;
  height: auto;
  margin: 5%;
}

.message p {
  font-size: 4rem;
}

.stack-icon {
  display: none;
}

  .education img {
    width: 200px;
  }

  .education-container {
    flex-direction: column;
    align-items: center;
  }

  .edu {
    width: 90%;
  }

  .education h3 {
    padding: 1rem 0;
    font-size: 2rem;
  }
  .education p {
    padding: 1rem 0;
    font-size: 1/5rem;
  }

  footer .footer-icons img {
    width: 2rem;
    padding: 1rem;
}

  footer h5 {
    font-size: 12px;
  }
}
